<!-- LogoutButton -->
<template>
  <v-btn @click="logout" color="info">Logout</v-btn>
</template>

<script>
definePageMeta({
  middleware: "auth-khan",
});

export default {
  methods: {
    //set logout
    logout() {
      this.$emit("logout");
    },
  },
};
</script>
