<template>
  <v-text-field
    v-model="searchQuery"
    placeholder="Search something..."
    @input="search"
    clearable
    @click:clear="clearSearch"
    variant="solo"
    append-inner-icon="mdi-magnify"
  >
  </v-text-field>
</template>

<script>
definePageMeta({
  middleware: "auth-khan",
});
export default {
  data() {
    return {
      searchQuery: "",
    };
  },
  methods: {
    // sent searchQuery
    search() {
      this.$emit("search", this.searchQuery);
    },
    // Reset the search query when clearable button is clicked
    clearSearch() {
      this.searchQuery = "";
      this.$emit("search", "");
    },
  },
};
</script>
