<script setup>
import { ref } from "vue";
import kissada from "~/components/ui-components/kissada/workShop1/kissadaComponent.vue";
definePageMeta({
  middleware: ["authenticatedkissada"],
});

</script>

<template>
      <kissada/>
</template>