<template>
    <v-row>
        <v-col cols="12" md="6" sm="8" xs="12">
            <!-- search -->
            <v-text-field v-model="search" clearable single-line label="Search Someting..." type="text" variant="solo">
                <template v-slot:append-inner>
                    <v-icon class="rounded-sm pa-5 bg-success2" >mdi-magnify</v-icon>
                </template>
            </v-text-field>
        </v-col>
        <!-- ปุ่ม Add patient-->
        <v-col cols="12" md="6" sm="4" xs="12">
            <div class="text-right">
                <v-btn variant="outlined" prepend-icon="mdi-plus" width="150" height="50" class="success2"
                type="submit" to="">Add patient</v-btn>
            </div>
        </v-col> 
    </v-row>
</template>
<script>
  export default {
    data: () => ({
        search: '',
    }),

  }
</script>
