html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: $white !important;
    }

    .bg-secondary {
        color: $white !important;
    }

    .bg-warning {
        color: $white !important;
    }

    .bg-success2 {
        color: white !important;
        background-color: #5DB3A8 !important;
    }
    .bg-success3 {
        color: white !important;
        background-color: #5DB3A8 !important;
    }

    .bg-warning2 {
        color: $white !important;
        background-color: #FFB452 !important;
    }
    .bg-error2 {
        color: white !important;
        background-color: #FD8785 !important;
    }
    .bg-white2 {
        background-color: white !important;
    }
    .success2 {
        color: #5DB3A8 !important;
    }
    .error2 {
        color: #FD8785 !important;
    }
    .gray2 {
        background-color: #F8F8F8 !important;
    }
}

.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
    opacity: 1;
}
.avtar-border {
    border: 2px solid rgb(var(--v-theme-surface)) !important;
}


.apexcharts-text tspan{
    font-family:  'Poppins', sans-serif !important;
}


.v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>td,
.v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>th,
.v-table .v-table__wrapper>table>thead>tr:last-child>th {
    border-bottom: thin solid rgba(var(--v-border-color), 1) !important;
}

.v-table .v-table__wrapper>table>thead>tr>th {
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}

.v-table>.v-table__wrapper>table>tbody>tr>th,
.v-table>.v-table__wrapper>table>thead>tr>th,
.v-table>.v-table__wrapper>table>tfoot>tr>th {
    font-weight: 600;
}
.v-table .v-table__wrapper > table > thead > tr > th{
    font-size: 16px;
}

.v-table .v-table__wrapper > table > tbody > tr > td{
    font-size: 14px;
}
.gap-3{
gap:10px
}
