<script setup>
import { ref } from "vue";
import editTableComponent from "../../components/ui-components/kissada/workShop2/editTableComponent.vue";
definePageMeta({
  middleware: ["authenticatedkissada"],
});
</script>

<template>
  <h1>Edit User with ID: {{ $route.params.id }}</h1>
      <editTableComponent/>
</template>
