<script setup>
import patientAnalyticsComponent from "../../../components/ui-components/kissada/workShop3/patient/patientAnalyticsComponent.vue";
import searchComponent from "../../../components/ui-components/kissada/workShop3/search/searchComponent.vue";
import overviewComponent from "~/components/ui-components/kissada/workShop3/overview/overviewComponent.vue";
import progressComponent from "~/components/ui-components/kissada/workShop3/overview/progressComponent.vue";
import profileCardComponent from "~/components/ui-components/kissada/workShop3/cardiologist/profileCardComponent.vue";
import contentComponent from "~/components/ui-components/kissada/workShop3/content/contentComponent.vue";
import eventsComponent from "~/components/ui-components/kissada/workShop3/cardiologist/eventsComponent.vue";
import notificationsComponent from "~/components/ui-components/kissada/workShop3/cardiologist/notificationsComponent.vue";
definePageMeta({
  middleware: ["authenticatedkissada"],
});
</script>

<template>
    <v-card class="pa-5">
        <v-row cols="12">
            <v-col cols="12" lg="9" sm="12" xs="12">
                <searchComponent/>
                <contentComponent/>
                <patientAnalyticsComponent/>
                <v-row cols="12"> 
                    <v-col cols="12"  lg="8" sm="12" xs="12">
                        <overviewComponent/>
                    </v-col>
                    <v-col cols="12"  lg="4" sm="12" xs="12">
                        <progressComponent/>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" lg="3" sm="12" xs="12">
                <v-card elevation="10" class="overflow-hidden">
                    <profileCardComponent/>
                    <eventsComponent/>
                    <notificationsComponent/>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
</template>
