<script setup>
import { ref } from "vue";
import cardlistmember1 from "~/components/ui-components/listMember/cardlistmember1.vue";
import UiChildCard from "@/components/shared/UiChildCard.vue";
</script>

<template>
      <UiChildCard title="List Member">
                <cardlistmember1/>
      </UiChildCard>
</template>


