<template >
    <v-card variant="flat" lg style="background-color: transparent">
        <v-card-item>
            <v-card-title class="text-h2 d-flex justify-space-between">
                <span  class="pa-2 mx-auto">Activity</span>

                <!-- ทำช่องว่างระหว่าง flex -->
                <v-spacer :style="{ 'width': $vuetify.display.lg ? '20%' : '0%' }" />

                <!-- ใส่คำอธิบาย และ ซ่อนคำอธิบายเมื่อจอมีขนาดต่ำกว่า SM เพื่อลดความแออัด -->
                <v-card-subtitle 
                :class="{ 'pa-4 mx-auto': $vuetify.display.lg, 'hidden-sm-and-down': !$vuetify.display.lg }"
                >Data update every 3 hours</v-card-subtitle>
                
                <!-- ช่อง Select เพื่อเลือกข้อมูลที่จะแสดง -->
                <v-select clearable style="width:40%" variant="solo" placeholder="Select Month" :hide-details="true"
                    :items="chartData.dataItem">
                </v-select>

            </v-card-title>
        </v-card-item>

        <!-- แสดง Chart -->
        <v-card-text class="fill-height">
            <canvas id="myChart"></canvas>
        </v-card-text>
    </v-card>
</template>
  
<script>
import Chart from 'chart.js/auto';

export default {
    data() {
        return {
            chart: null,
            chartData: {
                // ค่าเพื่อเลือกเดือนที่จะแสดง
                dataItem:['October', 'November', 'December'],
                // Label สำหรับแกน X
                labels: ['01', '02', '03', '04', '05', '06', '07'],
                // ข้อมูลที่จะแสดงบน Chart
                datasets: [
                    {
                        borderColor: '#fda713',
                        label: 'Views / Hour',
                        backgroundColor: '#fda713',
                        data: [19550, 29852, 15452, 12845, 32210, 25465, 37451],
                        tension: 0.4,
                        pointHoverRadius: 10,
                    },
                ],
            },
        };
    },
    mounted() {
        // เรียกใช้ Chart เมื่อเรียก Component
        this.renderChart();
    },
    methods: {
        // Method สำหรับการ Render Chart
        renderChart() {
            const ctx = document.getElementById('myChart').getContext('2d');
            this.chart = new Chart(ctx, {
                // ประเภท Chart
                type: 'line',
                // ข้อมูลของ Chart
                data: this.chartData,
                // ตัวเลือกสำหรับการแสดงผลเช่น Aspect Ratio และ การ Responsive
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                },
            });
        },
    },
    beforeDestroy() {
        // ลบ Chart เมื่อไม่ได้เรียกใช้ Component เพื่อป้องกัน Memory Leak
        if (this.chart) {
            this.chart.destroy();
        }
    },
};
</script>