<style>
.v-icon {
    /* z-index เพื่อให้ ICON อยู่ทับบนสุด */
    z-index: 1;
}
</style>

<script>
export default {
    data: () => ({
        company: [ //ข้อมูลของบริษัทที่จะนำไปแสดงใน v-card
            { cName: 'Dribble', cTag: `@grantart`, cStat: '+2%', cImg: 'mdi-basketball', cColor: '' },
            { cName: 'Bahance', cTag: `@grantart`, cStat: '-7%', cImg: 'mdi-alpha-b-circle', cColor: 'info' },
            { cName: 'Instagram', cTag: `@grantart`, cStat: '+4%', cImg: 'mdi-instagram', cColor: 'warning' },
            { cName: 'Pinterest', cTag: `@grantart`, cStat: '+2%', cImg: 'mdi-pinterest', cColor: 'error' },
        ],
    }),
}
</script>

<template>
    <v-card lg color="rgb(233,245,244)">
        <v-card-text>
            <v-row no-gutters class="justify-center">
                <v-col cols="12" sm="2" align-self="center">

                    <!-- text-left เมื่อจอมีขนาด lg หรือมากกว่าและ mt-5 text-center mx-auto เมื่อจอมีขนาดเล็กกว่า เพื่อการจัดหน้าจอ -->
                    <v-card :class="{ 'text-left': $vuetify.display.lg, 'mt-5 text-center mx-auto': !$vuetify.display.lg }"
                        variant="flat" color="rgb(0, 0, 0, 0)">

                        <v-card-item>
                            <v-card-title class="text-h3">Channel</v-card-title>
                        </v-card-item>
                        <v-card-text>
                            Your channels statics for 1 weeks period.
                        </v-card-text>
                    </v-card>
                </v-col>

                <!-- v-for เพื่อนำ data ใน company มาแสดง-->
                <v-col v-for="company in company" :key="company.cName" cols="12" sm="2" align="center">
                    
                    <!-- class padding top มา 5 เเละซ่อนเมื่อจอมีขนาดเท่ากับ medium หรือต่ำกว่า -->
                    <v-icon size="x-large" :icon="company.cImg" :color="company.cColor"
                        :class="{ 'pt-5': $vuetify.display.lg, 'hidden-md-and-down': !$vuetify.display.lg }" />

                    <!-- class ให้ margin top มา 5 และ auto ทุกด้านเมื่อจอเท่ากับ LG หรือ มากกว่า-->
                    <v-card :class="{ 'mt-5 mx-auto': !$vuetify.display.lg }" style="width: 80%" variant="flat" lg>
                        <v-card-item>

                            <!-- โชว์ ICON เมื่อจอต่ำกว่า LG  //สอดคล้องกับบรรทัดที่ 39 -->
                            <v-icon size="x-large" :icon="company.cImg" :color="company.cColor"
                                :class="'hidden-lg-and-up'" />

                            <v-card-title class="text-h5">{{ company.cName }}</v-card-title>
                            <v-card-subtitle>{{ company.cTag }}</v-card-subtitle>
                        </v-card-item>
                        <v-card-text class="text-h3">{{ company.cStat }}</v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" sm="2">
                    <v-hover>
                        
                        <!-- สร้าง Slot และ props เพื่อเก็บว่า IsHovering หรือ มีการวางเมาส์ไว้หรือไม่ -->
                        <template v-slot:default="{ isHovering, props }">
                            
                            <!-- เปลี่ยนการ margin และ ความกว้างและสูง ตามขนาดจอ และเปลี่ยนสีเมื่อนำเมาส์มา Hover-->
                            <v-card image="https://i.ibb.co/nwrCXNd/435345345345.png"
                                :class="{ 'mt-7': $vuetify.display.lg, 'mt-5 mx-auto': !$vuetify.display.lg }" :="props"
                                :color="isHovering ? 'rgb(40, 128, 128 )' : 'rgb(100, 188, 183 )'"
                                :style="{ 'height': $vuetify.display.lg ? '110px' : '', 'width': $vuetify.display.lg ? '115%' : '80%' }">

                                <v-card-item>
                                    <v-card-title class="text-h4" style="color:white;">Full</v-card-title>
                                    <v-card-title class="text-h4" style="color:white;">Stats</v-card-title>
                                    <v-card-title style="color:white;">
                                        <v-icon icon="mdi-arrow-right-drop-circle" />
                                    </v-card-title>
                                </v-card-item>
                            </v-card>
                        </template>
                    </v-hover>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>