<template>
    <v-card variant="flat" lg style="background-color: transparent">
        <v-card-item>
            <v-card-title class="text-h2 d-flex justify-end">
                <span class="pa-2 mx-auto">Dashboard</span>

                <!-- ทำช่องว่างใน flex -->
                <v-spacer :style="{ 'width': $vuetify.display.lg ? '20%' : '0%' }" />

                <v-badge :content="1" inline color="error" class="pa-1 mx-auto" />
                <v-btn class="" variant="text" icon="mdi-cog-outline" @click="$emit('myEvent')"/>
            </v-card-title>

        </v-card-item>
        <v-card-item>
            <v-row no-gutters>
                <v-col cols="12" sm="4">

                    <!-- ปรับ padding right หากจอมีขนาด lg หรือมากกว่า -->
                    <v-card :class="{ 'pr-5': $vuetify.display.lg, '': !$vuetify.display.lg }" variant="flat" lg
                        style="background-color: transparent">
                        <v-card-item>
                            <v-card-title class="d-flex justify-space-between">
                                Views
                                <v-icon color="success" icon="mdi-arrow-up-bold-circle" />
                            </v-card-title>
                        </v-card-item>
                        <v-divider :thickness="5" />
                        <v-card-text class="text-h3">
                            27,6m
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" sm="4">

                    <!-- ปรับ padding right หากจอมีขนาด lg หรือมากกว่า -->
                    <v-card :class="{ 'pr-5': $vuetify.display.lg, '': !$vuetify.display.lg }" variant="flat" lg
                        style="background-color: transparent">
                        <v-card-item>
                            <v-card-title class="d-flex justify-space-between">
                                Followers
                                <v-icon color="error" icon="mdi-arrow-down-bold-circle" />
                            </v-card-title>
                        </v-card-item>
                        <v-divider color="rgb(255, 125, 255)" :thickness="5" />
                        <v-card-text class="text-h3">
                            219,3k
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" sm="4">

                    <!-- ปรับ padding right หากจอมีขนาด lg หรือมากกว่า -->
                    <v-card :class="{ 'pr-5': $vuetify.display.lg, '': !$vuetify.display.lg }" variant="flat" lg
                        style="background-color: transparent">
                        <v-card-item>
                            <v-card-title class="d-flex justify-space-between">
                                Reposts
                                <v-icon color="success" icon="mdi-arrow-up-bold-circle" />
                            </v-card-title>
                        </v-card-item>
                        <v-divider :thickness="5" />
                        <v-card-text class="text-h3">
                            1,5k
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-card-item>
    </v-card>
</template>