<template>
    <span class="text-h2 d-flex justify-space-between">

        <!-- ช่อง text field รับค่า ชื่อที่จะแก้ไข-->
        <v-text-field hide-details v-model="newName" :placeholder="upgradeName" ></v-text-field>

        <!-- ปุ่มกดเพื่อส่งค่า newName ไปยัง parent -->
        <v-btn icon="mdi-check-bold" variant="plain" class="pa-2 mx-auto" @click="$emit('confirmChange', newName)"/>

        <!-- ปุ่มเพื่อปิด Expansion -->
        <v-btn icon="mdi-close-thick" variant="plain" class="pa-2 mx-auto" @click="$emit('closeExpansion')"/>
    </span>
</template>

<script>
export default {
    props: ['upgradeName'],
    data() {
        return {
            newName: this.upgradeName,
        }
    },
}
</script>