<!-- หน้าการแสดง Table Top Performer -->
<template>
    <v-card variant="flat" lg style="background-color: transparent">
        <v-card-title class="text-h2">Top performers</v-card-title>
        <v-card-text class="pt-2">
            <v-table style="background-color: transparent">
                <tbody>
                    <tr>
                        <td>
                            <v-avatar color="surface-variant">
                                <v-img src="https://www.melivecode.com/users/2.png"></v-img>
                            </v-avatar>
                        </td>
                        <td>Ivy Cal</td>
                        <!-- Class Text แบบ Disabled -->
                        <td class="text-disabled">@ivy.cal</td>
                        <td class="text-h6">39%</td>
                    </tr>

                    <tr>
                        <td>
                            <v-avatar color="surface-variant">
                                <v-img src="https://www.melivecode.com/users/3.png"></v-img>
                            </v-avatar>
                        </td>
                        <td>Walter Beau</td>
                        <td class="text-disabled">@walter.beau</td>
                        <td class="text-h6">18%</td>
                    </tr>

                    <tr>
                        <td>
                            <v-avatar color="surface-variant">
                                <v-img src="https://www.melivecode.com/users/4.png"></v-img>
                            </v-avatar>
                        </td>
                        <td>Gayla Bertrand</td>
                        <td class="text-disabled">@gayla.bertrand</td>
                        <td class="text-h6">25%</td>
                    </tr>
                </tbody>
            </v-table>
        </v-card-text>

        <v-card-actions>
            <v-btn>
                View more >
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
