<template>
    <!-- สร้าง Card และใส่พื้นหลัง -->
    <v-card variant="text" style="height: 100%;" 
    image="https://i.ibb.co/nLjPJWX/Screenshot-1-Qfw-Bqs-RPE-transformed-removebg-preview.png" 
    lg>
        <v-card-item>

            <v-card-title>
                <!-- avatar บนมุมซ้ายของภาพ -->
                <v-avatar color="surface-variant">
                    <v-img src="https://www.melivecode.com/users/1.png"/>
                </v-avatar>
            </v-card-title>

        </v-card-item>

        <!-- คำอธิบายใน Card และแสดงค่า upgradeName ที่ได้รับจาก parent -->
        <v-card-title class="text-md-h6 text-lg-h4">
                <span style="color: darkslategray;">
                    {{ upgradeName }}
                </span>
                <v-icon icon="mdi-pencil" />
        </v-card-title>

    </v-card>
</template>
<script>
export default {
    props: ['upgradeName']
}
</script>