<template>
    <div>
        <p v-if="!isEditing" @click="toggleEdit" class="editable-text">{{ initialName }}</p>
        <form v-else @submit.prevent="saveChanges" class="edit-form">
            <v-text v-if="isEditing">{{ originalName }}</v-text>
            <input v-if="isEditing" type="text" v-model="editedName" class="edit-input" />
            <!-- ปุ่ม Save และ Cancel ในแถวเดียวกัน -->
            <div class="btn-group">
                <button type="submit" class="btn-save">Save Changes</button>
                <button type="button" @click="cancelEdit" class="btn-cancel">Cancel</button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: {
        initialName: String,
    },
    data() {
        return {
            isEditing: false,
            editedName: this.initialName,
            originalName: '',
        };
    },
    mounted() {
        // ดึงค่าชื่อที่เก็บไว้ใน Local Storage ถ้ามี
        const savedName = localStorage.getItem('editedName');
        if (savedName) {
            this.editedName = savedName;
        }
    },
    methods: {
        toggleEdit() {
            this.originalName = this.initialName;
            this.isEditing = !this.isEditing;
        },
        saveChanges() {
            // บันทึกการเปลี่ยนแปลงชื่อ
            this.$emit('nameChanged', this.editedName);
            this.isEditing = false;
            // บันทึกค่าชื่อใหม่ลงใน Local Storage
            localStorage.setItem('editedName', this.editedName);
        },
        cancelEdit() {
            // ยกเลิกการแก้ไขและกลับไปใช้ชื่อเดิม
            this.editedName = this.originalName;
            this.isEditing = false;
        },
    },
};
</script>


<style>
/* สไตล์ของปุ่ม Cancel */
.btn-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

/* สไตล์เมื่อนำเมาส์ไปชี้ปุ่ม Cancel */
.btn-cancel:hover {
  background-color: #d32f2f;
}
/* สไตล์ของข้อความแก้ไข */
.editable-text {
    cursor: pointer;
   font-size: 20px;
}

/* สไตล์ของฟอร์มแก้ไข */
.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

/* สไตล์ของอินพุตแก้ไข */
.edit-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    
}

/* สไตล์ของปุ่ม Save */
.btn-save {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* สไตล์เมื่อนำเมาส์ไปชี้ปุ่ม Save */
.btn-save:hover {
    background-color: #45a049;
}
</style>
