<template>
  <v-row justify="space-between" class="ml-2">
    <v-col cols="auto" md="" class="pl-8">
      <v-text class="text-h2">
        Friends
      </v-text>
    </v-col>
    <v-col cols="auto" class="pl-11">
      <v-icon>mdi mdi-dots-horizontal</v-icon>
    </v-col>
  </v-row>

  <v-container>
    <v-row>
      <v-col cols="12">
        <UiChildCard title="General">
          <v-responsive>
            <v-table class="table" style="max-width: 100%">
              <thead>
                <tr>
                  <th class="text-left"></th>
                  <th class="text-left"></th>
                  <th class="text-left"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in desserts" :key="item.name">
                  <td>
                    <v-row align="center" class="pl-4">
                      <v-col cols="2">
                        <v-img :src="item.img" width="50" height="50" class="pr-8"></v-img>
                      </v-col>
                      <v-col cols="9" class="ml-2">{{ item.name }}</v-col>
                    </v-row>
                  </td>
                  <td></td>
                  <td>
                    <v-icon class="ml-1" color="rgba(154,222,123)">mdi mdi-send-check-outline</v-icon>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-responsive>
        </UiChildCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      desserts: [
        {
          name: 'Walter Beau',
          img: "https://www.melivecode.com/users/3.png",
          icon: "",
        },
        {
          name: 'Ivy Cal',
          img: "https://www.melivecode.com/users/2.png",
        },
        {
          name: 'Gayl Bertrand',
          img: "https://www.melivecode.com/users/4.png",
        },
        {
          name: 'Benjamin Chaz',
          img: "https://www.melivecode.com/users/5.png",
        },
      ]
    };
  },
};
</script>

<style lang="scss" scoped>
.table {
  width: 100%;
  /* Adjust the width for responsiveness */
  margin-top: 1px;
  border-radius: 30px;
}

.table th,
.table td {
  padding: 0px;
}

.table th {
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: #effbcd;
}
</style>
