<template>
  <div>
     <v-row justify="space-between" >
          <v-col cols="auto" md="" class="pl-4">
            <v-text class="text-h2">
              My Schedule
            </v-text>
          </v-col>
          <v-col cols="auto"  class="pl-11">
            <v-icon>mdi mdi-dots-horizontal</v-icon>
          </v-col>
        </v-row>

    <VCard elevation="10" class="overflow-hidden my-13" width="350" max-height="470">
 <v-card class="mx-auto my-5" width="370" max-height="380" elevation="9" >
    <v-row no-gutters>
      <v-col cols="4" class="my-8">
        <v-card class="mx-auto "  max-width="90" max-height="90" color="rgba(154,222,123)">
          <v-row class="d-flex justify-center align-center" height="100%">
            <v-col cols="12" class="text-center">
              <v-icon class="" size="57" color="rgba(245,247,248)">mdi mdi-calendar-multiple-check</v-icon>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-row>
      <v-col cols="auto" >
        <v-card-text class="my-8  text-h5 ">
          Turkish A2 Exam
          <p class="text-subtitle-1 text-disabled"><v-icon>mdi mdi-calendar-month-outline</v-icon> August 9,2020</p>
        </v-card-text>
      </v-col>
     
      </v-row>
    
<v-spacer></v-spacer>
    </v-row>
  </v-card>

   <v-card class="mx-auto my-5" width="350" max-height="380" elevation="9">
      <v-row no-gutters>
        <v-col cols="4" class="my-8">
          <v-card class="mx-auto my-1" max-width="90" max-height="90" color="rgba(154,222,123)">
            <v-row class="d-flex justify-center align-center" height="100%">
              <v-col cols="12" class="text-center">
                <v-icon size="57" color="rgba(245,247,248)">mdi mdi-ear-hearing</v-icon>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-row>
        <v-col cols="auto" >
          <v-card-text class="my-8  text-h5 ">
            Listening 30 Minute
            <p class="text-subtitle-1 text-disabled"><v-icon>mdi mdi-calendar-month-outline</v-icon> August 11,2020</p>
          </v-card-text>
        </v-col>
     
        </v-row>
    
  <v-spacer></v-spacer>
      </v-row>
    </v-card>


     <v-card class="mx-auto my-5" width="350" max-height="380" elevation="1">
        <v-row no-gutters>
          <v-col cols="4" class="my-8">
            <v-card class="mx-auto my-1" max-width="90" max-height="90" color="rgba(154,222,123)">
              <v-row class="d-flex justify-center align-center" height="100%">
                <v-col cols="12" class="text-center">
                  <v-icon size="57" color="rgba(245,247,248)">mdi mdi-book-check-outline</v-icon>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-row>
          <v-col cols="auto" >
            <v-card-text class="my-8  text-h5 ">
             Reading Turkish Blog
              <p class="text-subtitle-1 text-disabled"><v-icon>mdi mdi-calendar-month-outline</v-icon> August 13,2020</p>
            </v-card-text>
          </v-col>
     
          </v-row>
    
    <v-spacer></v-spacer>
        </v-row>
      </v-card>
    </VCard>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>


</style>