<template>
  <v-row justify="space-between">
    <v-col cols="auto" md="" class="pl-8">
      <v-text class="text-h2">
        Overview
      </v-text>
    </v-col>
    <v-col cols="auto" class="pl-11">
      <div class="text-center">
        <v-btn color="#E57373" block rounded="xl" size="x-large" prepend-icon="mdi-check-circle"
          append-icon="mdi-account-circle">
          <template v-slot:prepend>
            <v-icon color="">mdi mdi-weather-night</v-icon>
          </template>

          Turkish

          <template v-slot:append>
            <v-icon color="">mdi mdi-chevron-down</v-icon>
          </template>
        </v-btn>
      </div>
    </v-col>
  </v-row>
  <v-container>
    <v-row no-gutters>
      <v-col cols="12" sm="4" class="pr-10">
        <v-card class="mx-auto my-6 pl-2 body" width="230" height="150" color="rgba(154,222,123)">
          <v-card-item>
            <v-card-title class="text-h5 text">
              <v-icon>mdi-book-open-page-variant</v-icon> Vocabulary
            </v-card-title>
            <v-card-title class="text-h6 text">
              280
            </v-card-title>
          </v-card-item>
          <v-card-text class="text-subtitle text">
            Words
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="mx-auto my-6 ml-4 pl-2" width="230" height="150" color="#388E3C">
          <v-card-item>
            <v-card-title class="text-h5 text">
              <v-icon>mdi mdi-account-box-multiple</v-icon> Grammar
            </v-card-title>
            <v-card-title class="text-h6 text">
              280
            </v-card-title>
          </v-card-item>
          <v-card-text class="text-subtitle text">
            Words
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="mx-auto my-6 ml-7" width="230" height="150" color="#40C4FF">
          <v-card-item>
            <v-card-title class="text-h5 text">
              <v-icon>mdi mdi-scoreboard-outline</v-icon> Score
            </v-card-title>
            <v-card-title class="text-h6 text">
              1250
            </v-card-title>
          </v-card-item>
          <v-card-text class="text-subtitle text">
            Points
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>



<style lang="scss" scoped>

.text {
  color: #ffffff;
  font-size: 14px;

}

</style>