<template>
  <v-row align="center" class="ml-9">
    <v-col cols="6" class="mr-2">
      <v-banner-text class="text-h1">Gunaydin, jon</v-banner-text>
      <v-toolbar-title class="text-subtitle-1 text-disabled">Welcome back, nice to see you again!</v-toolbar-title>
    </v-col>
    <v-col cols="4" class="text-right ml-16">
      <v-row align="center" class="ml-15">
        <v-col cols="auto">
          <v-avatar image="https://www.melivecode.com/users/3.png" size="77" class=" ml-16"></v-avatar>
        </v-col>
        <v-col cols="auto" class="mr-5">
      <EditableName :initialName="username" @nameChanged="handleNameChanged" />
              <p class="text-right text-subtitle-1 text-disabled mr-4">Turkish Baby</p>

        </v-col>
      </v-row>
    </v-col>
    <v-col cols="" class="text-right">
        <v-col cols="auto">
          <v-icon  @click="editName">mdi mdi-pen</v-icon>
          <v-btn density="default"   icon="mdi mdi-bell-badge"></v-btn>
        </v-col>
    </v-col>
  </v-row>
</template>

<script>
import EditableName from './EditableName.vue';

export default {
  data() {
    return {
      username: 'jon pantau',
    };
  },
  components: {
    EditableName,
  },
  methods: {
   handleNameChanged(newName) {
      this.username = newName;
       localStorage.setItem('username', newName);
      console.log('edit name');
      console.info(newName);
      console.debug(newName);
      // ทำสิ่งที่คุณต้องการเมื่อชื่อผู้ใช้ถูกเปลี่ยนแปลง
    },
    editName(newName) {
      localStorage.setItem('username', newName);
      this.username = newName;
     
    },
    updateUsername(newName) {
      this.username = newName;
    },
  },
};
</script>
