<template>
    <!-- ลูปข้อมูล dataPeple -->
    <v-row v-for="data in dataPeple" :key="data.name">
        <v-col cols="12" md="8" sm="12" xs="12">
            <v-card class="pa-7 text-left bg-success2">
                <div class="text-h4">Hi, {{data.name}}!</div>
                <div class="text-subtitle-2" style="width: 60%;">You've been doing your whale work plan for the last two manths. Way to go 👍</div>
            </v-card>
        </v-col>
        <v-col cols="12" md="2" sm="6" xs="6">
            <v-card class="pa-5 text-left error2" style="height: 100%;">
                <div :class="['text-h3', 'text-sm-h2', 'text-md-h4', 'text-lg-h3']">+{{ data.reviews }}</div>
                <div class="text-subtitle-1">reviews</div>
            </v-card>
        </v-col>
        <v-col cols="12" md="2" sm="6" xs="6">
            <v-card class="pa-5 text-left success2" style="height: 100%;" >
                <div :class="['text-h3', 'text-sm-h2', 'text-md-h4', 'text-lg-h3']">+{{ data.patients }}</div>
                <div class="text-subtitle-1">patients</div>
            </v-card>
        </v-col>  
    </v-row>
</template>

<script>
export default {
  data() {
    return {
        dataPeple:[
            {name:"Jennifer", reviews: "11", patients: "78"}
        ],
    };
  },
  
};
</script>
