<template>
    <v-card class="pa-3 ma-0">
      <v-row>
        <v-col cols="12" md="6" lg="6" class="ma-0 pa-0">
          <v-card variant="variant" min-height="550" width="100%" cover image="https://i.ibb.co/TTCsSjQ/Untitled-3.png">
            <div class="text-h1 pa-7">Login to Payfully</div>
          </v-card>
        </v-col>
        <v-col cols="12" md="6" lg="6" class="ma-0 pa-0" >
          <div class="form" >
            <!-- Form Login -->
            <v-form @submit.prevent="login" v-model="logins">
              <v-card variant="variant" width="100%" class="text-left alight-conten-center mt-5">
                <!-- ช่องกรอก email -->
                <div class="text-subtitle text-medium-emphasis">Email</div>
                <v-text-field 
                    v-model="email" 
                    type="email" 
                    density="compact" 
                    placeholder="email@service.com" 
                    prepend-inner-icon="mdi-email-outline" 
                    variant="outlined" :rules="emailRules">
                </v-text-field>
                <!-- ช่องกรอก Password -->
                <div class="text-subtitle text-medium-emphasis d-flex align-center justify-space-between">
                  Password
                </div>
                <v-text-field
                  v-model="password"
                  :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                  :type="visible ? 'text' : 'password'"
                  density="compact"
                  placeholder="Enter your password"
                  prepend-inner-icon="mdi-lock-outline"
                  variant="outlined"
                  :rules="passwordRules"
                  @click:append-inner="visible = !visible"
                ></v-text-field>

                <div class="d-flex ma-0 pa-0">
                    <v-checkbox v-model="rememberMe" label="Remember Me"></v-checkbox>
                    <a class="text-caption text-decoration-none text-blue pt-4" href="#" rel="noopener noreferrer" target="_blank">
                        Forgot login password?
                    </a>   
                </div>
                <v-row>
                    <v-col cols="12" md="6" lg="7">     
                        <v-btn block class="mb-8" color="blue" size="large" >
                            <v-img src="https://i.ibb.co/kmmMXrs/google.png" width="30px"></v-img>
                            Login with Google
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="6" lg="5">
                        <v-btn block class="mb-8 bg-success2" color="sucess" size="large" @click="login" :disabled="!logins">
                            Login
                        </v-btn>
                    </v-col>
                </v-row>
              </v-card>
            </v-form>
          </div>
        </v-col>
      </v-row>
    </v-card>
</template>


<script>
const runtimeConfig = useRuntimeConfig();
const URL = runtimeConfig.public.URL_Auth;
export default {
  data: () => ({
    logins: false,
    visible: false,
    email: "",
    password: "",
    rememberMe: false,
    // Validate mail
    emailRules: [
      (v) => !!v || 'Email is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    // Validate password
    passwordRules: [(v) => v.length >= 6 || 'Password is required least 6 characters'],
  }),
  methods: {
    // Login Post API
    async login() {
      try {
        const response = await fetch(`${URL}/api/login`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: this.email,
            password: this.password,
            expiresIn: 60000,
          }),
          
          
        });
        
        if (!response.ok) {
            // ถ้า login ไม่สำเร็จ
            alert("The email and password are incorrect. Please try again.")
            console.error("Login failed");
            return;
        }
        
        const data = await response.json();

        // เก็บ token ไว้ใน localStorage
        localStorage.setItem("user", JSON.stringify(data.user));
        localStorage.setItem("accessToken", data.accessToken);
        if (this.rememberMe) {
          localStorage.setItem("rememberedEmail", this.email);
          localStorage.setItem("rememberMe", "true");
        } else{
          localStorage.removeItem("rememberedEmail");
          localStorage.removeItem("rememberMe");
        }
        // ถ้า login สำเร็จ
        console.log("Login success:", data);
        navigateTo('/kissada/listWorkshop'); 

      } catch (error) {
        console.error("Error during login:", error);
      }
    },
    mounted() {
        const rememberedEmail = localStorage.getItem("rememberedEmail");
        const rememberMe = localStorage.getItem("rememberMe");

        if (rememberedEmail && rememberMe === "true") {
      
            this.email = rememberedEmail;
            this.rememberMe = true;
        }
    },
    
    
  },
};
</script>
<style scoped>
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>