<template>
    <v-row>
          <v-card-text>
                  <v-col cols="12" md="12" sm="12" xs="12" class="d-flex">
                      <div class="text-h5 ma-0 pa-0" >Next events</div>
                      <v-spacer></v-spacer>
                      <v-btn variant="text" density="compact" prepend-icon="mdi-plus" class="success2" type="submit" to="">Add</v-btn>
                  </v-col>
                  <!-- ลูปข้อมูล Medical conference -->
                  <v-col cols="12" md="12" sm="12" xs="12" v-for="medicalConference in medicalConferences" :key="medicalConference.detail">
                      <v-card class="mx-auto pa-1" max-width="344" max-height="144">
                          <v-col cols="12">
                              <div class="d-flex flex-row">
                                  <div>
                                      <v-icon size="large" color="green-darken-2" icon="mdi-medical-bag" class="bg-success2 rounded-sm pa-5"></v-icon>
                                  </div>
                                  <div class="text-left ml-4">
                                      <div class="text-subtitle">Medical conference</div>
                                      <div class="text-subtitle-1">{{ medicalConference.detail }}</div> <!-- ดึงข้อมล detail -->
                                      <div class="text-subtitle-1" style="color: gray;">{{ medicalConference.address }}</div> <!-- ดึงข้อมล address -->
                                  </div>
                              </div>
                          </v-col>
                      </v-card>
                  </v-col>
                  <!-- ลูปข้อมูล consilium -->
                  <v-col cols="12" md="12" sm="12" xs="12" v-for="consilium in consiliums" :key="consilium.detail">
                      <v-card class="mx-auto pa-1" max-width="344" max-height="144">
                          <v-col cols="12">
                              <div class="d-flex flex-row">
                                  <div>
                                      <v-icon size="large" color="green-darken-2" icon="mdi-scale-balance" class="bg-error2 rounded-sm pa-5"></v-icon>
                                  </div>
                                  <div class="text-left ml-4">
                                      <div class="text-subtitle">Consilium</div>
                                      <div class="text-subtitle-1" style="color: gray;">{{ consilium.detail }}</div> <!-- ดึงข้อมล detail -->
                                  </div>
                              </div>
                          </v-col>
                      </v-card>
                  </v-col>
            </v-card-text>
    </v-row>
  </template>
    
  <script>
  export default {
    data() {
      return {
          medicalConferences:[
              {detail: "May 5 - 11:00 AM", address: "USA, Houston"}
          ],
          consiliums: [
              {detail: "May 27 - 9:00 AM"}
          ],
      };
    },
    
  };
  
  </script>
