<template>
  <v-row>
      <v-card-text>
          <v-col cols="12" md="12" sm="12" xs="12">
            <div class="text-h5 ma-0 pa-0">New notifications</div>
          </v-col>
          <!-- ลูปข้อมูล notification -->
          <v-col cols="12" md="12" sm="12" xs="12" v-for="notification in notifications" :key="notification.detail">
            <v-card class="mx-auto pa-1 gray2" max-width="344" max-height="144">
              <v-card-actions>
                <div class="icon-close">
                  <v-btn icon="mdi-close"></v-btn>
                </div>
                <div class="text-subtitle pa-3">{{ notification.detail }}</div>
              </v-card-actions>
            </v-card>
          </v-col>
      </v-card-text>
  </v-row>
</template>
    
  <script>
export default {
  data() {
    return {
      notifications: [{ detail: "The patient will come to you in 5 minutes." }],
    };
  },
};
</script>
  
  <style scoped>
.icon-close {
  background-color: #fd8785;
  border-radius: 50%;
  position: absolute;
  top: -1.5em;
  right: 0.5em;
  padding: 0;
  justify-content: center;
  align-content: center;
}
</style>