<template>
  <!-- ส่วนแสดงรายการผู้ใช้ -->
  <v-row>
    <v-col cols="12" v-for="profile in profiles" :key="profile.fname">
      <div class="d-flex justify-center mt-15">
        <div class="avatar">
          <v-avatar size="100">
            <img :src="`${profile.img}`" width="100" alt="user" />
          </v-avatar>
        </div>
      </div>
      <v-card-text class="pa-6">
        <div class="text-center">
          <div class="d-flex justify-center align-center">
            <!-- แสดงชื่อผู้ใช้ -->
            <div class="mb-1 mt-0 mr-2 text-h4">
              {{ profile.fname }}
            </div>

            <!-- ปุ่มแก้ไขชื่อ -->
            <div>
              <v-btn size="small" icon @click="editName(profile)">
                <v-icon>mdi-pencil-outline</v-icon>
              </v-btn>
            </div>
          </div>

          <!-- แสดงข้อมูลอื่น ๆ เช่น Cardiologist -->
          <div style="color: gray">Cardiologist</div>
        </div>
      </v-card-text>
    </v-col>
  </v-row>

  <!-- ส่วนแก้ไขชื่อ -->
  <EditComponent
    v-if="dialog"
    :profile="selectedProfile"
    @confirmChange="confirmChange"
    @cancelChange="cancelChange"
  />
</template>

<script>
import EditComponent from '../editComponent.vue';

export default {
  components: {
    EditComponent,
  },
  data() {
    return {
      profiles: [
        { img: "/images/profile/1.jpg", fname: "Jennifer", lname: "Turner" },
      ],
      dialog: false,
      selectedProfile: null,
    };
  },
  methods: {
    // เมื่อคลิกที่ปุ่มแก้ไข
    editName(profile) {
      this.selectedProfile = profile;
      this.dialog = true;
    },

    // เมื่อการแก้ไขชื่อถูกยืนยัน
    confirmChange(newName) {
      this.selectedProfile.fname = newName;
      this.dialog = false;
      this.saveDataToLocalStorage();
    },

    // เมื่อการแก้ไขชื่อถูกยกเลิก
    cancelChange() {
      this.dialog = false;
    },
    // บันทึกข้อมูลลงใน Local Storage
    saveDataToLocalStorage() {
      // เข้าถึง Local Storage และบันทึกข้อมูล
      localStorage.setItem('profiles', JSON.stringify(this.profiles));
  },

  },
};
</script>
