<template>
    <v-card elevation="10" class="overflow-hidden" height="670">
        <v-row justify="center">
            <!-- ฝั่งซ้าย -->
            <v-col cols="12" sm="10" md="8" lg="6">
                <v-card elevation="10" class="overflow-hidden">
                    <v-card class="pa-8 " elevation="3">
                        <v-row justify="center">
                            <v-icon color="info" icon="$vuetify" size="50" class="mb-5  "></v-icon>
                            <v-text class="text-h2">vote</v-text>
                        </v-row>
                        <v-row justify="center">
                            <v-text class="mb-11 text-h1">Welcome Back</v-text>
                        </v-row>
                        <v-row>
                            <v-btn class="mb-15" prepend-icon="mdi mdi-google" block elevation="5">Login in with
                                Google</v-btn>
                            <v-divider class=""></v-divider>
                            <v-row justify="center">
                                <v-text class="text-disabled mb-16">OR LOGIN WITH EMAIL </v-text>
                            </v-row>
                        </v-row>
                        <v-row>

                        </v-row>


                        <!-- ฟอร์มข้อมูลการ Login -->
                        <v-form @submit.prevent="login" class="">
                            <v-text-field v-model="email" label="Your Email" outlined></v-text-field>


                            <v-text-field v-model="password" :rules="[rules.password, rules.length(6)]" color="deep-purple"
                                counter="6" label="Your Password" outlined></v-text-field>
                            <v-row justify="space-between">
                                <v-col cols="5">
                                    <v-checkbox v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']"
                                        label="Keep me logged " class="" required></v-checkbox>
                                </v-col>
                                <v-col cols="auto" class="">
                                    <v-chip variant="plain" color="primary"
                                        class="text-subtitle-1 text-decoration-underline ">Forgot password</v-chip>

                                </v-col>
                            </v-row>
                            <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p>

                            <v-btn color="#1A237E" class="mb-9" block @click="login">Login</v-btn>


                            <v-divider class="mb-6">OR LOGIN WITH EMAIL</v-divider>
                        </v-form>
                        <v-row justify="center">
                            <v-text class="text-disabled">Don't have an account yet? <v-chip variant="plain"
                                    class="text-h6 text-decoration-underline " color="primary">Sign up</v-chip></v-text>
                        </v-row>
                    </v-card>
                </v-card>
            </v-col>
            <!-- ฝั่งขวา -->
            <v-col cols="12" sm="10" md="8" lg="6">
                <v-card elevation="10" class="overflow-hidden" image="">
                    <v-img
                        src="https://media.discordapp.net/attachments/1173221267642535987/1177502741636075610/Untitled-2.png?ex=6572bde2&is=656048e2&hm=db28a5d131fac2580f2bb212c8035041f15ac3dee9c65837d94708e0abd99364&=&format=webp&width=537&height=668"
                        aspect-ratio="0.0"></v-img>


                </v-card>
            </v-col>


        </v-row>
    </v-card>
</template>

<script>

export default {
    data() {
        return {
            email: '',
            password: '',
            errorMessage: '', // เพิ่มตัวแปรสำหรับเก็บข้อความข้อผิดพลาด
            rules: {
                email: v => !!(v || '').match(/@/) || 'Please enter a valid email',
                length: len => v => (v || '').length >= len || `Invalid character length, required ${len}`,
                password: v => !!(v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
                    'Password must contain an upper case letter, a numeric character, and a special character',
                required: v => !!v || 'This field is required',
            },
        };
    },
    computed: {
        isValidForm() {
            return this.validateForm() && this.isValidEmail(this.email);
        },
    },
    methods: {
        async login() {
            // Validate form data
            if (!this.validateForm()) {
                return;
            }
            // ตรวจสอบความถูกต้องของข้อมูลที่ใส่ในฟอร์ม
            if (!this.email || !this.password) {
                this.errorMessage = 'กรุณากรอก email และ password';
                return;
            }
            if (!this.isValidEmail(this.email)) {
                this.errorMessage = 'รูปแบบของ email ไม่ถูกต้อง';
                return;
            }
            // ล้างข้อความผิดพลาด (ถ้ามี)
            this.errorMessage = '';
            const loginData = {
                username: this.email,
                password: this.password,
                expiresIn: 60000
            };

            try {
                const response = await fetch('https://www.melivecode.com/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(loginData)
                });

                if (!response.ok) {
                    throw new Error('Login failed');
                }

                const data = await response.json();

                // Store token in localStorage
                localStorage.setItem('accessToken', data.accessToken);

                // Handle success response here
                console.log('เข้าสู่ระบบสำเร็จ:', data);

                // Call API to get user data after successful login
                const token = data.accessToken;
                const userResponse = await fetch('https://www.melivecode.com/api/auth/user', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });

                if (!userResponse.ok) {
                    throw new Error('Failed to fetch user data');
                }

                const userData = await userResponse.json();

                // Store user data in localStorage
                localStorage.setItem('userId', userData.id);
                localStorage.setItem('userData', JSON.stringify(userData));

                // Redirect to '/sirisak/cv' page
                this.$router.push('/sirisak/cv');

            } catch (error) {
                // จัดการข้อผิดพลาด
                console.error('Error logging in:', error);
                this.errorMessage = 'การเข้าสู่ระบบล้มเหลว กรุณาลองอีกครั้ง.';
            }
        },
        validateForm() {
            if (!this.email || !this.password) {
                this.errorMessage = 'กรุณากรอก email และ password';
                return false;
            }
            if (!this.isValidEmail(this.email)) {
                this.errorMessage = 'รูปแบบของ email ไม่ถูกต้อง';
                return false;
            }
            this.errorMessage = ''; // Clear error message if validation passes
            return true;
        },
        isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }
    }
};

</script>



<style lang="scss" scoped>
.error-message {
    color: red;
}
</style>