<template>
    <v-card>
        <v-row no-gutters>
            <!-- Toolbar (<toolbars />): คือส่วนที่อาจจะใช้เพื่อแสดงเครื่องมือหรือการนำทางเช่นเมนู -->
          <v-col cols="12" sm="80"  lg="20" class="mb-5" >
         <toolbars />
          </v-col>
          <!-- Overview (<Overview />): ส่วนที่แสดงข้อมูลภาพรวมหรือข้อมูลหลักเกี่ยวกับหัวข้อหลัก -->
        <v-col cols="12" sm="12" lg="8" class="mt-8 pl-6 ">
        <Overview />
        <!-- Barchart (<Barchart />): เป็นส่วนที่แสดงกราฟแท่งหรือข้อมูลในรูปแบบกราฟที่แสดงค่า -->
        <Barchart />
       </v-col>
    <!-- Myschedule (<Myschedule />): ส่วนที่แสดงข้อมูลตารางเวลาหรือกำหนดการของผู้ใช้ -->
        <v-col cols="12" sm="12" lg="4" class="mt-9 pl-8 ">
         <Myschedule />
       </v-col>
      <!-- Leaderboard (<Leaderboard />): ส่วนที่แสดงข้อมูลของ Leaderboard หรือการจัดอันดับของผู้ใช้ -->
        <v-col cols="12" sm="12" lg="8" class="mt-6">
                    <Leaderboard />
           </v-col>
    <!-- Friends (<Friends />): ส่วนที่แสดงข้อมูลเกี่ยวกับเพื่อนหรือผู้ที่เกี่ยวข้องของผู้ใช้ -->


       <v-col cols="12" sm="12" lg="4" class="mt-9" >
        <Friends />
           </v-col>
           </v-row>

        </v-card>
</template>
<script>
import toolbars from "../pages/sirisak/components/toolbars.vue";
import Overview from "../pages/sirisak/components/Overview.vue";
import Myschedule from "../pages/sirisak/components/Myschedule.vue";
import Leaderboard from "../pages/sirisak/components/Leaderboard.vue";
import Friends from "../pages/sirisak/components/Friends.vue";
import Barchart from "../pages/sirisak/components/Barchart.vue";
definePageMeta({
    middleware: "sirisak-auth"
})
export default {
    data() {
        return {
        };
    },
    components: {
        toolbars,
        Overview,
        Myschedule,
        Leaderboard,
        Friends,
        Barchart,
    },
    };
</script>

<style>
    
</style>