<script setup>
import { ref } from "vue";
import createTableComponent from "../../../components/ui-components/kissada/workShop2/createTableComponent.vue";
definePageMeta({
  middleware: ["authenticatedkissada"],
});
</script>

<template>
      <createTableComponent/>
</template>