<script setup>
import tableAPI from '~/components/ui-components/kissada/workShop2/tableAPIComponent.vue';
definePageMeta({
  middleware: ["authenticatedkissada"],
});
</script>
<template>
    <tableAPI/>
</template>