<!-- SearchField.vue -->

<template>
    <v-text-field v-model="searchQuery" label="Search" @input="emitSearch"/>
  </template>
  
  <script>
  import { ref } from "vue";
  export default {
    props: {
      searchQuery: String,
    },
    methods: {
        emitSearch(event) {
            this.$emit("update-search", event.target.value);
        },
    },
    setup () {
        const searchQuery = ref(""); 

        return {
            searchQuery,
        }
    },

  };
  </script>
  