<template>
  <v-row>
    <v-card class="pa-5">

      <v-row cols="12">
        <v-col cols="6">
          <v-card-text class="text-h1">Table</v-card-text>
        </v-col>
        <v-col cols="6" class="text-right pr-7">
          <v-btn icon="mdi-plus" size="large" color="#5865f2" class="mb-4" align-self="center" @click="goToOtherPage"></v-btn>
        </v-col>
      </v-row>
      <v-col cols="12">
        <!-- <v-text-field v-model="searchQuery" label="Search" @input="handleSearch" /> -->
        <SearchField :searchQuery="searchQuery" @update-search="updateSearch" />
        <!-- ตารางแสดงข้อมูล -->
        <v-table theme="dark">
          <thead>
            <tr>
              <!-- ลูปแสดงชื่อของแต่ละ column -->
              <th class="text-center" v-for="item in columns" :key="item.name">
                {{ item.name }}
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- แสดงข้อมูล id, frist name, last name, username, image -->
          <tr v-for="row in paginatedRows" :key="row.id">
            <td class="text-center">{{ row.id }}</td>
            <td class="text-center">{{ row.fname }}</td>
            <td class="text-center">{{ row.lname }}</td>
            <td class="text-center">{{ row.username }}</td>
            <td class="text-center">
              <v-img :src="row.avatar" :width="50" class="pt-2 text-center mx-auto"></v-img>
            </td>
            <td class="text-center">
              <v-col cols="12">
                <!-- ปุ่มกดแก้ไขข้อมูล -->
                <NuxtLink :to="`/kissada/editTable/${row.id}`" class="btn btn-seccess btn-sm mx-2">
                  <v-btn icon><v-icon style="color: #7af6f2;">mdi-pencil</v-icon></v-btn>
                </NuxtLink>
                <!-- ปุ่มลบข้อมูล -->
                <v-btn icon @click="onDelete(row.id)">
                  <v-icon style="color: #D80032;">mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-col cols="6" class="d-flex justify-start">
        <!-- การแบ่งหน้าตาราง -->
        <v-pagination
        v-show="totalPages > 1"
        v-model="currentPage"
        :length="totalPages"
        @input="changePage"
        ></v-pagination>
      </v-col>
    </v-col>
  </v-card>
  </v-row>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useRouter} from "vue-router";
import SearchField from "./SearchFieldComponent.vue"
export default {
  components: {
    SearchField, // Register the new component
  },
  setup() {
    
    const router = useRouter();
    const columns = [
      { name: "id" },
      { name: "fname" },
      { name: "lname" },
      { name: "username" },
      { name: "avatar" },
      { name: "edit" },
    ];
    
    
    const searchQuery = ref("");
    const originalRows = ref([]);
    const rows = ref([]);
    const currentPage = ref(1);
    const itemsPerPage = 5; // กำหนดจำนวนรายการต่อหน้า
    const updateSearch = (query) => {
      searchQuery.value = query;
      handleSearch();
    };
    const handleSearch = () => {
      currentPage.value = 1;
      // กรองข้อมูลตามคำค้นหาโดยไม่ต้องส่งคำขอ API
       rows.value = originalRows.value.filter((row) =>
        ["id", "fname", "lname", "username"].some((field) =>
          String(row[field]).toLowerCase().includes(searchQuery.value.toLowerCase())
        )
      );
      // เพิ่ม console.log เพื่อตรวจสอบผลลัพธ์หลังจากกรองข้อมูล
      console.log("Filtered data:", rows.value);
    };

    // ประกาศ computed property ที่คำนวณรายการที่จะแสดงในหน้าปัจจุบัน
    const paginatedRows = computed(() => {
      const start = (currentPage.value - 1) * itemsPerPage; // คำนวณหน้าเริ่มต้นของรายการที่จะแสดง
      const end = start + itemsPerPage; // คำนวณหน้าสุดท้ายของรายการที่จะแสดง
      
      return rows.value.slice(start, end); // คืนค่ารายการที่ต้องการแสดงในหน้าปัจจุบัน
    });
    // ประกาศ computed property ที่คำนวณจำนวนหน้าทั้งหมด
    const totalPages = computed(() => Math.ceil(rows.value.length / itemsPerPage));

    const changePage = () => {
      fetchData(); // ดึงข้อมูลเมื่อเปลี่ยนหน้า
    };

    const goToOtherPage = () => {
      router.push(`/kissada/workShop2/createTable`);
    };

    // ดึงข้อมูล จากเส้น API มาแสดง
    const runtimeConfig = useRuntimeConfig();
    const URL = runtimeConfig.public.URL_Auth;
    console.log("URL : ",URL)
    
    const fetchData = async () => {
      try {
        const res = await fetch(`${URL}/api/users`);
        const result = await res.json();

        originalRows.value = result; // บันทึกข้อมูล
        rows.value = originalRows.value;

        console.log("Fetched data:", rows.value);
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    };
    // การลบข้อมูล
    const onDelete = async (id) => {
      try {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        
        const raw = JSON.stringify({
          id: id,
        });

        const requestOptions = {
          method: "DELETE",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        }; 
        // ส่ง response เพื่อทำการลบข้อมูล
        const response = await fetch(`${URL}/api/users/delete`, requestOptions);
        const result = await response.json();

        if (result) {
          alert("Delete this id: " + id + " success"); // แจ้งเตือนการลบข้อมูล
          console.log(`Deleting data with ID: ${id}`); // consle.log ว่าลบข้อมูล id ไหนไป
          fetchData();
        } else {
          console.error("Error deleting data:", result);
        }
      } catch (error) {
        console.error("Error deleting data:", error);
      }
    };

    onMounted(() => {
      fetchData();
    });
    
    return {
      columns,
      rows,
      onDelete,
      goToOtherPage,
      paginatedRows,
      currentPage,
      totalPages,
      changePage,
      searchQuery,
      handleSearch,
      updateSearch
    };
  },
};
</script>