<script>
definePageMeta({
    middleware:"pipad-auth"
})
export default {
    data() {
        return {
            // ตั้งค่าตัวแปร profileName โดยการดึงค่าของ resumeName จาก localStorage
            profileName: localStorage.getItem('resumeName'),

            profileInfo: [ // ประวัติ
                { title: 'Nickname', text: 'Juii', color: 'purple' },
                { title: 'Role', text: 'Frontend', color: 'purple' },
            ],
            contact: [  // ช่องทางติดต่อ
                { title: 'Phone', text: '083-879-4410', icon: '📱' },
                { title: 'Facebook', text: 'Pat Tongdon', icon: '🌐' },
                { title: 'Discord', text: 'จุ้ย - Frontend', icon: '🖥️' },
                { title: 'E-mail', text: 'pipad.to@gmail.com', icon: '📧' },
            ],
            // ทักษะ
            skill: [{ vue: 'VUE.JS', tailwind: 'Tailwind', node: 'NODE.JS' }],
            // งานอดิเรก
            hobby: [{ gunpla: 'Gunpla', VG: 'Video Game', Movie: 'Movie' }],
        };
    },
    methods: {
        async logoutUser(){
            window.localStorage.removeItem('accessToken',''); 
            window.localStorage.removeItem('userData','');             
            this.$router.go(0);
        }
    },
}
</script>


<template>
    <v-container class="" cols="12">
        <v-row>
            <v-col lg="4">
                <v-row class="bg-red">
                    <v-col lg="12">
                        <v-card max-width="400" style="">
                            <v-img class="align-end text-white rounded-t-md" height="400"
                                src="https://i.ibb.co/0YGbJRy/15125215.png" cover>
                            </v-img>

                            <v-card-text class="text-h5 d-flex flex-column justify-left align-left">

                                <!-- เรียกตัวแปร profileName -->
                                <div class="text-center font-weight-bold ms-1 mb-2">{{ profileName }}</div>

                                <v-timeline>
                                    <!-- LOOP แสดงค่าใน profileInfo -->
                                    <v-timeline-item v-for="text in profileInfo" :key="text.text" :dot-color="text.color"
                                        size="x-small">
                                        <div class="mb-2">
                                            <div class="font-weight-normal">
                                                <strong>{{ text.title }} :</strong> {{ text.text }}
                                            </div>
                                        </div>
                                    </v-timeline-item>
                                </v-timeline>
                                <v-btn @click="logoutUser()">LOGOUT</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
            <v-col lg="8" class="fill-height">
                <v-row class="fill-height">
                    <v-col cols="12" md="12" lg="12" class="fill-height">
                        <v-card :class="{ 'ml-8': $vuetify.display.lg, 'mt-4': !$vuetify.display.lg }" style="">
                            <v-card-text class="text-h6">
                                <!-- LOOP แสดงค่าใน Skill -->
                                <ul class="text-h4">Skills:</ul>
                                <li v-for="skill in skill[0]" :key="skill" class="pb-1">{{ skill }}</li>
                                <ul class="text-h4 pb-1">Hobby :</ul>
                                <!-- LOOP แสดงค่าใน Hobby -->
                                <li v-for="hobby in hobby[0]" :key="hobby" class="pb-1">{{ hobby }}</li>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="12" lg="12" class="fill-height">
                        <v-card :class="{ 'ml-8': $vuetify.display.lg, '': !$vuetify.display.lg }" style="">
                            <v-card-title class="text-h4">
                                CONTACT :
                            </v-card-title>
                            <v-card-text class="text-h6">
                                <!-- LOOP แสดงค่าใน contact4 -->
                                <div class="pb-1" v-for="contact in contact" :key="contact.text">
                                    {{ contact.title }} : {{ contact.text }} : {{ contact.icon }}
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-row justify="center" align="center">

                            <v-col cols="auto">
                                <!-- ไปหน้าตาราง CRUD -->
                                <v-btn density="default" :to="{ path: '/Pipad/crud_pipad' }">CRUD</v-btn>
                            </v-col>

                            <v-col cols="auto">
                                <!-- ไปหน้า workshop 3 -->
                                <v-btn density="default" :to="{ path: '/Pipad/work5' }">WORKSHOP 3</v-btn>
                            </v-col>

                            <v-col cols="auto">
                                <!-- ไปหน้า workshop 3 -->
                                <v-btn density="default" :to="{ path: '/Pipad/pipad_login' }">LOGIN</v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>
