<template>
    <v-card>
        <v-container>
            <v-row no-gutters>
                <!-- แบ่ง GRID -->
                <v-col cols="12" lg="7">
                    <!-- พื้นหลังล่องหน -->
                    <v-sheet class="" style="background-color: transparent">
                        <!-- ดึง component จาก components/pipadcompo/ มาใช้ -->
                        <PipadcompoDashboard @my-event="console.log('myEvent Clicked')" />
                    </v-sheet>
                </v-col>


                <v-col cols="12" lg="5">
                    <v-sheet class="fill-height" >
                        <!-- ทำให้สามารถกดที่ Component Upgrade แล้วจะมี Component Emit,Prop ออกมาด้านล่าง -->
                        <v-expansion-panels v-model="expandEdit" >
                            <v-expansion-panel  id="innerExPan">
                                <v-expansion-panel-title hide-actions>
                                    <PipadcompoUpgrade :upgradeName="upgradeName" />
                                </v-expansion-panel-title>
                                <v-expansion-panel-text>

                                    <!-- ส่งและคอยรับ upgradeName และ changeName -->
                                    <PipadcompoEmitpropname :upgradeName="upgradeName" @close-expansion="closeExpansion"
                                        @confirm-change="confirmChange" />
                                </v-expansion-panel-text>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-sheet>
                </v-col>
            </v-row>


            <v-row no-gutters>
                <v-col cols="12" lg="7">
                    <v-sheet class="ma-2 " style="background-color: transparent">
                        <PipadcompoActivity />
                    </v-sheet>
                </v-col>
                <v-col cols="12" lg="5">
                    <v-sheet class="ma-2 " style="background-color: transparent">
                        <PipadcompoTopperform />
                    </v-sheet>
                </v-col>
                <v-col cols="12" lg="12">
                    <v-sheet class="ma-2 ">
                        <PipadcompoChannel />
                    </v-sheet>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>
<script>
definePageMeta({
    middleware:"pipad-auth"
})
export default {
    data() {
        return {
            upgradeName: 'Pipad Tongdonngao',
            expandEdit: false,
            newName: ''
        }
    },
    methods: {
        async closeExpansion() {
            this.expandEdit = !this.expandEdit; //หุบ Component Upgrade
        },
        async confirmChange(newName) {
            console.log('confirmChange is called');
            console.log('new name : ', newName); // log ค่าที่ได้รับ
            this.upgradeName = newName; //เปลี่ยนค่าของ upgradeName เป็น newName
            this.expandEdit = !this.expandEdit; //หุบ Component Upgrade
            window.localStorage.setItem('resumeName', this.upgradeName); //สร้างหรือแก้ไข key resumeName เป็นค่าของ upgradeName
        },
    },
    mounted(){
        window.localStorage.setItem('resumeName', this.upgradeName); //สร้างหรือแก้ไข key resumeName เป็นค่าของ upgradeName
    }
}
</script>
<style>
#innerExPan>* {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 00px;
    padding-left: 0px;
}
</style>